@model List<iPem.Site.Models.CameraModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>录像回放</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="bookmark" type="image/x-icon" href="~/favicon.ico" />
    <link href="@Url.Content("~/Content/framework/bootstrap-3.3.5/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/framework/vis-4.20.1/vis-timeline-graph2d.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/css/videor.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="recorderPanel" class="container hidden">
        <div class="left-panel nav-bar">
            <div id="nav-wrapper">
                <div class="nav-title">
                    <span class="nav-text">摄像机列表</span>
                </div>
                <ul class="nav-menu">
                    @foreach (var camera in Model) {
                        <li class="menu-item clearfix">
                            <a href="javascript:void(0)" data='{"id":"@camera.id","ip":"@camera.ip","port":@camera.port,"uid":"@camera.uid","pwd":"@camera.pwd"}'>
                                <span class="icon ipems-icon-font ipems-icon-font-video"></span>
                                <span class="item-title">@camera.name</span>
                            </a>
                            <ul class="expandable-level1 collapse">
                                @foreach (var channel in camera.channels) {
                                    <li>
                                        <a href="javascript:void(0)" data='{"ip":"@camera.ip","mask":@channel.mask,"channel":@channel.channel,"zero":@(channel.zero ? "true": "false")}'>
                                            <span class="icon ipems-icon-font ipems-icon-font-camera"></span>
                                            <span class="l menu-label">@channel.name</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="center-panel">
            <div class="main-content">
                <div class="tabs-header">
                    <div class="tabs">
                        <ul class="clearfix">
                            <li class="current">
                                <a href="/Home/Videor?view=videor" target="_self">视频预览</a>
                            </li>
                            <li class="selected">
                                <a href="javascript:void(0);">录像回放</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tabs-content">
                    <div id="previewPanel">
                        <div id="recorder">
                            <div id="plugin">

                            </div>
                            <div id="controller">
                                <a id="play" title="播放/暂停" href="javascript:void(0);" class="l ctrl">
                                    <span class="icon ipems-icon-font ipems-icon-font-play" aria-hidden="true"></span>
                                </a>
                                <a id="stop" title="停止" href="javascript:void(0);" class="l ctrl">
                                    <span class="icon ipems-icon-font ipems-icon-font-stop" aria-hidden="true"></span>
                                </a>
                                <a id="kuaitui" title="慢放" href="javascript:void(0);" class="l ctrl">
                                    <span class="icon ipems-icon-font ipems-icon-font-kuaitui" aria-hidden="true"></span>
                                </a>
                                <a id="kuaijin" title="快放" href="javascript:void(0);" class="l ctrl">
                                    <span class="icon ipems-icon-font ipems-icon-font-kuaijin" aria-hidden="true"></span>
                                </a>
                                <a id="danzhen" title="单帧" href="javascript:void(0);" class="l ctrl">
                                    <span class="icon ipems-icon-font ipems-icon-font-frame" aria-hidden="true"></span>
                                </a>
                                <a id="capture" title="抓图" href="javascript:void(0);" class="l ctrl">
                                    <span class="icon ipems-icon-font ipems-icon-font-capture" aria-hidden="true"></span>
                                </a>
                                <a id="recut" title="剪辑/停止剪辑" href="javascript:void(0);" class="l ctrl">
                                    <span class="icon ipems-icon-font ipems-icon-font-video" aria-hidden="true"></span>
                                </a>
                                <a id="voice" title="声音/静音" href="javascript:void(0);" class="l ctrl">
                                    <span class="icon ipems-icon-font ipems-icon-font-unvoice" aria-hidden="true"></span>
                                </a>
                                <a id="download" title="录像下载" href="javascript:void(0);" class="l ctrl">
                                    <span class="icon ipems-icon-font ipems-icon-font-download" aria-hidden="true"></span>
                                    <span id="process" class="icon ipems-icon-font hidden">0%</span>
                                </a>

                                <a id="fullscreen" title="全屏" href="javascript:void(0);" class="r screen">
                                    <span class="icon ipems-icon-font ipems-icon-font-fullscreen" aria-hidden="true"></span>
                                </a>
                                <a id="screen16" title="16分屏" href="javascript:void(0);" class="r screen">
                                    <span class="icon ipems-icon-font ipems-icon-font-16screen" aria-hidden="true"></span>
                                </a>
                                <a id="screen9" title="9分屏" href="javascript:void(0);" class="r screen">
                                    <span class="icon ipems-icon-font ipems-icon-font-9screen" aria-hidden="true"></span>
                                </a>
                                <a id="screen4" title="4分屏" href="javascript:void(0);" class="r screen">
                                    <span class="icon ipems-icon-font ipems-icon-font-4screen" aria-hidden="true"></span>
                                </a>
                                <a id="screen1" title="1分屏" href="javascript:void(0);" class="r screen active">
                                    <span class="icon ipems-icon-font ipems-icon-font-1screen" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div id="condition">
                            <div id="record-condition" class="panel panel-default">
                                <div class="panel-body">
                                    <div class="input-group">
                                        <input id="calendar" type="text" class="form-control" placeholder="选择查询日期">
                                        <span class="input-group-btn">
                                            <button id="calendar-trigger" class="btn btn-default" type="button">
                                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label>
                                                <input id="timing" type="checkbox" checked="checked"> 定时录像
                                            </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>
                                                <input id="motion" type="checkbox" checked="checked"> 移动侦测
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label>
                                                <input id="motionOrAlarm" type="checkbox" checked="checked"> 动测或报警
                                            </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>
                                                <input id="motionAndAlarm" type="checkbox" checked="checked"> 报警和动测
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label>
                                                <input id="manual" type="checkbox" checked="checked"> 手动录像
                                            </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>
                                                <input id="smart" type="checkbox" checked="checked"> 智能录像
                                            </label>
                                        </div>
                                    </div>
                                    <hr />
                                    <button id="record-search" type="button" class="btn btn-success disabled">查询录像</button>
                                </div>
                            </div>
                            
                            <div id="record-events" class="panel panel-default" data-toggle="context">
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div id="visualization">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="errorPanel" class="alert alert-danger fade in hidden" role="alert">
        <div id="uninstall" class="hidden">
            <h4>视频插件尚未安装</h4>
            <p>您的浏览器尚未安装视频插件，请下载并安装视频插件（<strong>安装视频插件前，请先关闭浏览器</strong>）。</p>
            <p>视频插件安装完成后，请在IE10+浏览器或支持NPAPI插件的非IE浏览器下使用视频功能。</p>
            <p>
                <a class="btn btn-info" target="_blank" href="~/Resources/tools/hikvision/WebComponentsKit.exe" role="button">下载视频插件</a>
            </p>
            <p>我们为您提供以下支持视频插件的特定浏览器版本，您可以选择其中一种，下载并安装使用它。</p>
            <p>
                <a class="btn btn-primary" target="_blank" href="~/Resources/tools/hikvision/360se8.zip" role="button">360浏览器</a>
                <a class="btn btn-success" target="_blank" href="~/Resources/tools/hikvision/chrome41.zip" role="button">Chrome(谷歌)</a>
                <a class="btn btn-info" target="_blank" href="~/Resources/tools/hikvision/firefox51.zip" role="button">Firefox(火狐)</a>
            </p>
        </div>
        <div id="unsupport" class="hidden">
            <h4>视频插件不被支持</h4>
            <p>您的浏览器不支持视频插件，请在IE10+浏览器或支持NPAPI插件的非IE浏览器下使用视频功能。</p>
            <p>我们为您提供以下支持视频插件的特定浏览器版本，您可以选择其中一种，下载并安装使用它。</p>
            <p>
                <a class="btn btn-primary" target="_blank" href="~/Resources/tools/hikvision/360se8.zip" role="button">360浏览器</a>
                <a class="btn btn-success" target="_blank" href="~/Resources/tools/hikvision/chrome41.zip" role="button">Chrome(谷歌)</a>
                <a class="btn btn-info" target="_blank" href="~/Resources/tools/hikvision/firefox51.zip" role="button">Firefox(火狐)</a>
            </p>
        </div>
        <div id="upgrade" class="hidden">
            <h4>视频插件版本更新</h4>
            <p>检测到需要更新的视频插件，请下载并安装最新版本的视频插件（<strong>安装视频插件前，请先关闭浏览器</strong>）。</p>
            <p>视频插件安装完成后，请在IE10+浏览器或支持NPAPI插件的非IE浏览器下使用视频功能。</p>
            <p>
                <a class="btn btn-success" target="_blank" href="~/Scripts/framework/hikvision/WebComponentsKit.exe" role="button">下载视频插件</a>
            </p>
        </div>
    </div>

    <div id="events-context-menu">
        <ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1" href="javascript:void(0);">清屏</a></li>
        </ul>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@Url.Content("~/Scripts/framework/jquery-1.11.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/framework/bootstrap-3.3.5.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/framework/bootstrap-contextmenu.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/framework/vis-4.20.1/vis-timeline-graph2d.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/framework/hikvision/WebVideoCtrl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/home.recorder.js")" type="text/javascript"></script>
</body>
</html>